.contacts {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

.contacts__item {
	cursor: pointer;
	background-color: #FF3E79;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.contacts__link {
	max-height: 20px;
	text-decoration: none;
	color: inherit;
}

.contacts__img {
	background-color: #FF3E79;
	width: 20px;
	height: 20px;
}

@media(min-width: 768px) {
	.contacts {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 16px;
	}

	.contacts_decor-right::after {
		position: absolute;
		content: '';
		width: 2px;
		height: 32px;
		top: 50%;
		right: -22px;
		border-radius: 1px;
		background: #EAEAEA;
		transform: translateY(-50%);
	}
}