.headline {
	padding: 16px 0;
	margin: 0 -16px 0 0;
	font-size: 16px;
	font-weight: 400;
	color: #7E7E82;
	letter-spacing: -0.2px;
	text-transform: uppercase;
	background-image: linear-gradient(90deg, #F8F8F8 0%, #FFF 98.61%);
}

@media(min-width: 768px) {
	.headline {
		margin-right: -24px;
	}
}

@media(min-width: 1121px) {
	.headline {
		margin-right: 0;
	}
}