.language {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	column-gap: 7px;
}

.language__item {
	transition: background-color .3s ease-in, color .3s ease-in;
	border-radius: 5px;
}

.language__item:hover {
	background-color: rgba(126, 126, 130, 0.5);
	color: #fff;
}

.language__link {
	text-decoration: none;
	color: inherit;
	font-weight: 500;
	letter-spacing: -0.2px;
}

.language__link--checked {
	color: #7E7E82;
}