.sidebar {
	width: 320px;
	padding: 24px 24px 32px 24px;
	box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20);
	font-size: 16px;
	display: flex;
	flex-direction: column;
	height: 100vh;
}


.sidebar>.sidebar__header {
	margin-bottom: 50px;
}

.sidebar__header{
	display: flex;
	align-items: center;
	column-gap: 16px;
}


.sidebar__header>.search {
	margin-left: auto;
}

.sidebar__footer {
	margin-top: auto;
	display: flex;
	flex-direction: column;
}

.sidebar__footer>.contacts {
	display: block;
	display: flex;
	column-gap: 16px;
	margin-bottom: 16px;
}

.sidebar__footer>.mail {
	margin-bottom: 12px;
}

.sidebar__footer>.phone {
	margin-bottom: 40px;
}
